body {
    font-family: sans-serif;
    line-height: 26px;
    background-color: #f7f6f0;
    margin: 0;
}
.logo-bar {
    display: flex;
    flex-direction: row;   
    background-color: #000;
}

.companay-name-and-slogan {
    display: block;
    margin: auto;
}
.company-name {
    font-family: 'BradleyHandITCBold';
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    color: #FFF;
}

.company-slogan {
    font-family: 'BradleyHandITC';
    text-align: center;
    font-size: 32px;
    line-height: 32px;
    font-style: italic;
    margin-top: 4px;
    color: #ffffff;
}

.minimum-margin {
    margin-left: 8px;
    margin-right: 8px;
}

.main-wrapper {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 70vh;
}

a {
    text-decoration: none;
}

.nav {
    text-align: center;
}

.nav ul {
    list-style-type: none;
}
.nav ul li {
    display: inline-block;
}

.nav ul li a {
    display: inline-block;
    padding: 5px 15px;
    color: #b9b9b9;
    text-transform: uppercase;
    letter-spacing: .07em;
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
}

.nav ul li#active > a, .nav ul li > a:hover {
    color: #000;
}

.container {
    overflow: hidden;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.logo-top {
    max-width: 30vw;
    width: 180px;
}

h1 {
    text-align: center;
    font-size: 26px;
    font-family: 'Candara'; 
    color: rgb(0, 0, 0);
    margin-top: 60px;
}

.footer-company-name {
    text-align: right;
    font-size: 12px;
}

@font-face {
    font-family: 'BradleyHandITC';
    src: url("/shared/fonts/bradley_hand_itc.ttf") format('truetype');
    src: url("/shared/fonts/bradley_hand_itc.woff") format('woff');
}

@font-face {
    font-family: 'BradleyHandITCBold';
    src: url("/shared/fonts/bradley_hand_itc_bold.ttf") format('truetype');
    src: url("/shared/fonts/bradley_hand_itc_bold.woff") format('woff');  
}